.spacer {
    flex: 1 1 auto;
}

.search-component {
    width: 100%;
    padding-left: 1%;
}

.title {
    margin-right: 5%;
}

.toolbar {
    
    position: fixed
}

.content {
    padding-top: 14%;
}