<div class="container mat-elevation-z1">
    <div class="layout">
        <div class="header">
            <span>{{record.author}}</span>
            <span class="spacer"></span>
            <span>{{formattedDate}}</span>
        </div>
        <div class="body">
            <audio class="slider" controls
                src="http://www.music.helsinki.fi/tmt/opetus/uusmedia/esim/a2002011001-e02-64k.ogg"
                type="audio/ogg"></audio>
            <img class="avatar" src="../../../favicon.ico">
        </div>
    </div>

</div>