.spacer {
    flex: 1 1 auto;
}

.header {
    display: flex;
    padding-top: 2%;
    margin-bottom: 2%;
}

.body {
    display: flex;
}

.slider {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
}

.container {
    margin-left:1%;
    margin-right: 1%;
    margin-top: 3%;
    background-color: white;
}

.layout {
    margin-left:1%;
    margin-right: 1%;
}

.avatar {
    border-radius: 50%;
    width: 12%;
    height: 12%;
}