.spacer {
    flex: 1 1 auto;
}

.header {
    display: flex;
    font-size: 0.8em;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right:1%;
}

.author {
    font-weight: 350;
}

.date {
    font-weight: 200;
}

.body {
    display: flex;
    padding-bottom: 2%;
}

.slider {
    width: 100%;
    height: 40px;
    margin-top:1%;
    margin-right: 2%;
    color: black;
}

.container {
    margin-left:1%;
    margin-right: 1%;
    margin-top: 3%;
    background-color: white;
}

.layout {
    margin-left:1%;
    margin-right: 1%;
}

.avatar {
    border-radius: 50%;
    width: 12%;
    height: 12%;
}